dev.local {
    tls internal
    encode zstd gzip
    root * D:/domalecs-os/clix5/OSbench

    @static {
        file
        not path *.php
    }
    handle @static {
        file_server
    }

    @php_exists {
        path *.php
        file
    }
    handle @php_exists {
        reverse_proxy 127.0.0.1:8000
    }

    @not_static {
        not file
    }
    handle @not_static {
        rewrite * /index.php
        reverse_proxy 127.0.0.1:8000
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Cross-Origin-Opener-Policy same-origin
        Cross-Origin-Embedder-Policy require-corp
    }
}
